body {
  font-family: "Georgia", sans-serif;
  font-size: 20px;
}

h1,
h2 {
  margin: 0;
}

p {
  line-height: 1.5rem;
}

.base {
  background-color: #eeeeee;
}

.bloco1 {
  background-color: orange;
}
.bloco2 {
  background-color: green;
}
.bloco3 {
  background-color: red;
}
